{% import "macros/macro.html" as macro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Doorbell with photo/video compatibility and customizable sound">
    <meta name="author" content="Arne Debouvere">
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
    <title>
        Docam - {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for("static",filename="css/styles.css") }}">
</head>
<body>
<header>
    <a href="{% if session['logged_in'] %}{{ url_for("index") }}{% endif %}" id="logo"></a>
    <nav>
        {% if session['logged_in'] %}
            <ul>
                <li><a {% block home %}{% endblock %} href="{{ url_for("index") }}">Home</a></li>
                <li><a {% block timeline %}{% endblock %} href="{{ url_for("timeline") }}">Timeline</a></li>
                <li><a {% block sound %}{% endblock %} href="{{ url_for("sound") }}">Sound</a></li>
                <li class="dropdown">
                    User
                    <div class="dropdown-content"><a {% block settings %}{% endblock %}
                            href="{{ url_for("settings") }}">Settings</a>
                    </div>
                </li>
            </ul>
        {% endif %}
    </nav>
</header>
{% block body %}
{% endblock %}
{% if session['logged_in'] %}
    <footer class="footer-distributed">
        <div class="footer-right">
            <a href="#"><i></i></a>
            <a href="#"><i></i></a>
            <a href="#"><i></i></a>
            <a href="#"><i></i></a>
        </div>
        <div class="footer-left">
            <p>Debouvere Arne &copy; 2017</p>
        </div>
    </footer>
{% endif %}
</body>
</html>