{% extends "base.html" %}

{% block title %}
    Timeline
{% endblock %}

{% block timeline %}
    class="current"
{% endblock %}

{% block body %}
    <section>
        <h1>Timeline</h1>
        <table>
            <tr>
                <td>

                </td>
                <td>
                    Afbeelding
                </td>
                <td>
                    Bestandsgrootte
                </td>
                <td>
                    Datum
                </td>
                <td>
                    Aangebeld?
                </td>
            </tr>
            {% for medium in media %}
                <tr>
                    <td class="shapes"><img src="{{ url_for("static",filename="img/circle.png") }}" class="circle"
                                            alt="circle"/></td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td class="shapes"><img src="{{ url_for("static",filename="img/line.png") }}" class="line"
                                            alt="line"/>
                    </td>
                    <td class="medium">
                        <a href="{{ url_for("static",filename="img/photos/" + medium[1]) }}" download="">
                        <img src="{{ url_for("static",filename="img/photos/" + medium[1]) }}" class="img-thumbnail"/>
                        </a>
                    </td>
                    <td>
                        {{ medium[3] }} kB
                    </td>
                    <td>
                        {{ medium[2] }}
                    </td>
                    <td>
                        <span class = "aangebeld{{ medium[4] }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}